<section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-1">
          <div class="card shadow-lg mb-3 rounded">
            <table class="table table-hover text-center rounded">
                <thead class="bg-primary text-white rounded">
                  <tr>
                    <th>
                        <input type="text" class="form-control shadow-lg" placeholder="ID" [(ngModel)]="filter.id">
                        <button *ngIf="filter.id" (click)="filter.id = null" class="btn btn-danger btn-sm btn-block">x</button>
                    </th>
                    <th>
                        <input type="text" class="form-control shadow-lg" placeholder="Title" [(ngModel)]="filter.title">
                        <button *ngIf="filter.title" (click)="filter.title = null" class="btn btn-danger btn-sm btn-block">x</button>
                    </th>
                    <th>
                        <input type="text" class="form-control shadow-lg" placeholder="Author" [(ngModel)]="filter.author">
                        <button *ngIf="filter.author" (click)="filter.author = null" class="btn btn-danger btn-sm btn-block">x</button>
                    </th>
                    <th>
                        <input type="text" class="form-control shadow-lg" placeholder="Year" [(ngModel)]="filter.year">
                        <button *ngIf="filter.year" (click)="filter.year = null" class="btn btn-danger btn-sm btn-block">x</button>
                    </th>
                    <th>
                      Actions
                    <button (click)="clearFilter()" *ngIf="filter.id || filter.title || filter.author || filter.year" class="btn btn-danger btn-sm btn-block">x</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of books | search:filter" (click)="onSelect(book)" [routerLink]="book.id">
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.year}}</td>
                    <td (click)="onEvent($event)">
                      <span class="ml-1 mr-2"><a href="" class="btn btn-warning rounded text-white">Edit</a></span>
                      <span class="ml-2"><a href="" (click)="onRemove(book)" class="btn btn-danger rounded">Delete</a></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>
