<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 offset-2">
          <div class="card shadow-lg p-3 mb-5 rounded">
            <h1 class="text-center mt-3">Create Book</h1>
            <form (submit)="form.valid && onSubmit($event, form)" #form="ngForm">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control shadow-lg rounded" #title="ngModel" [(ngModel)]="book.title" required  minlength="3">
                <div *ngIf="(title.touched || title.dirty) && title.errors">
                  <div *ngIf="title?.errors.required" class="bg-danger rounded shadow-lg">
                    <span class="text-white text-center">Your title is required</span>
                  </div>
                  <div *ngIf="title?.errors.minlength" class="bg-danger rounded shadow-lg">
                    <span class="text-white text-center">Your title must be at least {{title?.errors.minlength.requiredLength}} characters long. You have {{title?.errors.minlength.actualLength}}</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input type="text" name="author" class="form-control shadow-lg rounded" #author="ngModel" [(ngModel)]="book.author" required minlength="3">
                <div *ngIf="(author.touched || author.dirty) && author.errors">
                    <div *ngIf="author?.errors.required" class="bg-danger rounded shadow-lg">
                      <span class="text-white text-center">Your author is required</span>
                    </div>
                    <div *ngIf="author?.errors.minlength" class="bg-danger rounded shadow-lg">
                      <span class="text-white text-center">Your author must be at least {{author?.errors.minlength.requiredLength}} characters long. You have {{author?.errors.minlength.actualLength}}</span>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="year">Year</label>
                <input type="number" name="year" class="form-control shadow-lg rounded" #year="ngModel" [(ngModel)]="book.year" required min="1800" max="2018">
                  <div *ngIf="(year.touched) && year.errors">
                      <div *ngIf="year?.errors.required" class="bg-danger rounded shadow-lg">
                        <span class="text-white text-center">Your year is required</span>
                      </div>
                    </div>
              </div>
              <div class="form-group">
                <label for="pages">Pages</label>
                <input type="number" name="pages" class="form-control shadow-lg rounded" #pages="ngModel" [(ngModel)]="book.pages" required min="1" max="5000">
                <div *ngIf="(year.touched) && year.errors">
                    <div *ngIf="year?.errors.required" class="bg-danger rounded shadow-lg">
                      <span class="text-white text-center">Your year is required</span>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="publisher">Publisher</label>
                <input type="text" name="publisher" class="form-control shadow-lg rounded" #publisher="ngModel" [(ngModel)]="book.publisher" required minlength="3" maxlength="20">
                <div *ngIf="(publisher.touched || publisher.dirty) && publisher.errors">
                    <div *ngIf="publisher?.errors.required" class="bg-danger rounded shadow-lg">
                      <span class="text-white text-center">Your author is required</span>
                    </div>
                    <div *ngIf="publisher?.errors.minlength" class="bg-danger rounded shadow-lg">
                      <span class="text-white text-center">Your author must be at least {{publisher?.errors.minlength.requiredLength}} characters long. You have {{publisher?.errors.minlength.actualLength}}</span>
                    </div>
                  </div>
              </div>
              <button class="btn btn-primary" *ngIf="form.valid">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</section>

